version: '3.8'

services:
  backend:
    build: 
      context: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/data:/app/data
      - sqlite_db:/app/storage # Persist the SQLite DB file

    env_file:
      - ./backend/.env
    restart: always

  frontend:
    build:
      context: ./frontend
      args:
        NEXT_PUBLIC_API_URL: http://localhost:8000/chat
    ports:
      - "3000:3000"
    restart: always
    depends_on:
      - backend

volumes:
  sqlite_db:
